// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html,body,ul,button,h1,h2,h3,h4 {
    margin:0;
    padding:0;
}
html,body {
    font-family:'Helvetica Neue',Helvetica,Arial,Sans-serif;
}
input {
    display:block;
    border:1px solid #bbb;
    border-radius:3px;
    padding:0 3px;
    background:#fff;
}
.container {
  position:relative;
  overflow:hidden;
}
input:focus, textarea:focus {
    box-shadow:0 0 7px #fff;
    border:1px solid #ccc;
}

::-webkit-input-placeholder {
   color: #aaa;
   font-size:0.9em;
}

:-moz-placeholder { /* Firefox 18- */
   color: #aaa;  
   font-size:0.9em;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #aaa;  
   font-size:0.9em;
}

:-ms-input-placeholder {  
   color: #aaa;  
   font-size:0.9em;
}

.header {
    height:120px;
    width:100%;
    background:#369;
    position:relative;
}
body {
    background: image-url('P4GfA.jpg') repeat;
}

.main {
    min-height:600px;
}
.blur-background {
    padding:40px 40px 40px;
}

.blur-background-wrapper {
}
.header-content {
    font-size:2.5em;
    font-weight:bold;
    text-shadow:0 0 7px #222222;
    line-height:2.5em;
    width:400px;
    padding:10px;
    color:white;
    margin:0 auto;

}
.center-content {
    width:400px;
    height:100%;
    margin:0 auto;
}
.board {
   width:100%;
   height:350px;
   position:relative;
   transition: 0.3s;
   transform-style: preserve-3d;
}
.login-button {
    width:100%;
    height:200px;
    padding:10px;
}
.login-button .or {
    height:30px;
    width:60px;
    margin:0 auto;
    font-size:1.5em;
    color:#555;
    text-shadow:0 0 7px #fff;
}
.login-button button {
    display:block;
    background:linear-gradient(#8ADD6D, #60B044); 
    width:280px;
    margin:0 auto;
    height:40px;
    margin-top:30px;
    border-radius:5px;
    border:1px solid #EEE;
    color:#fff;
    font-size:1.3em;
    cursor:pointer;
}

.login-board button:hover {
    background:linear-gradient(#79D858,#569E3D);
}
.close {
    cursor:pointer;
    width:22px;
    height:22px;   
    padding-left:0px;
}
.close:hover:before {
    color:#aa0000; 
}
.close:before {
   content: "\E198";
   font-size:12pt;
   padding-left:0px;
}
