.register-board,.login-board {
    vertical-align:middle;
    
    width:100%;
    height:300px;
    background: linear-gradient(rgba(240,240,240,0.5),rgba(200,200,200,0));
    border-radius:5px;
    box-shadow:0 0 20px #fff inset;
}
.register-board-shadow, .login-board-shadow {
   width:100%;
   width:100%;
   box-shadow: 0 0 7px #aaa; 
   border-radius: 5px;
   margin:0 auto;
   position:absolute;
   left:0;
   top:50px;
   backface-visibility: hidden;
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility:hidden;
   -ms-backface-visibility:hidden;
   -webkit-transform: translate3d(0,0,0);
   background: image-url('P4GfA.jpg') repeat;
}

.front-face {
    z-index:1;
}
.turnover {
     transform: rotateY(180deg);
     -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
     -ms-transform: rotateY(180deg);
     -webkit-backface-visibility: hidden; /* again */
}
.board>div:first-child {
    z-index:1
}
.turnover>div:first-child {
    z-index:-1
}
.turnback {
    transform:rotateY(0deg);
    -webkit-transform:rotateY(0deg);
    -moz-transform:rotateY(0deg);
    -ms-transform:rotateY(0deg);
    -webkit-backface-visibility: hidden; /* again */
}
.login-board-shadow  {
-webkit-transform: translate3d(0,0,0);
    transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    -webkit-backface-visibility: hidden; /* again */

}
.register-board-form,.login-form {
    width:100%;
    height:100%;
    -webkit-backface-visibility: hidden; /* again */
}
.new_user {
    width:100%;
    height:100%;
    padding:10px;
}
.form-field {
    margin-top:10px;
    height:100%;
}
.form-field input {
    margin:0 auto;
    display:block;
    width:280px;
    height:40px;
    margin-top:15px;
    font-size:1.2em;
    color:#555;
}
.form-field .form-field-icon {
    float:left;
    width:35%;
    height:100%;
}
.form-field .form-field-text {
    float:left;
    width:65%;
    height:100%;
}
.form-message{
    height:30px;
    display:none;
}
.form-field input[type='submit'] {
    cursor:pointer;
    background:linear-gradient(#4196E0, #3A73BA) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius:5px;
    border:#369;
    color:#fff;
}

.form-field input[type='checkbox']  {
    cursor:pointer;
    margin:0;
    display:inline-block;
    margin-right:10px;
}

.form-field textarea {
    margin-top:20px;
    border:1px solid #bbb;
    width:275px;
    border-radius:3px;
    padding:5px;
}

.form-field .inline-field {
    width:125px;
    display:inline;
}
.form-field input[type='submit']:hover {
    background:linear-gradient(#4AABFF, #3A73BA) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border:1px solid #4AABFF;
}
.form-field .inline-div-group {
    display:block;
    width:290px;
    margin:0 auto;
}
.checkbox-wrapper {
    width:290px;
    margin:15px auto 0;
}

.checkbox-wrapper label{
    color:#666;
}
